<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
</head>

<body>
    <div id="app">
        <p>
            <h2>Vuex Application</h2>
            <input-component></input-component>
            <hr>
            <list-component></list-component>
        </p>
    </div>

    <template id="list-template">
        <div>
            <ul v-for="(name,idx) in user_list">
                <li>{{name}}<button @click="user_del(idx)">삭제</button> </li>
            </ul>
        </div>
    </template>


    <script>



        //공유 데이터를 Vuex.Store에 저장(state와 mutations 속성은 필수)
        const store = new Vuex.Store({
            state: {
                users: []
            },
            mutations: {
                user_add(state, payload) {
                    console.log("mutations.user_add", state, payload)
                    state.users.push(payload.name);
                },
                user_del(state, payload) {
                    console.log(state, payload.payload.idx);
                    state.users.splice(payload.payload.idx, 1);

                }
            }
        });

        const input = Vue.component("input-component", {
            template: `<div>이름:<input @keyup.enter="user_add" v-model="username"></div>`,
            data: () => {
                return {
                    username: ""
                }
            },
            methods: {
                user_add() {
                    console.log("input.user_add", this.username);
                    store.commit('user_add', { name: this.username });
                    this.username = "";
                }
            }
        });

        const list = Vue.component("list-component", {
            template: `#list-template`,
            data: () => {
                return {
                    user_list: store.state.users
                }
            },
            methods: {
                user_del(idx) {
                    console.log("list.user_del", idx);
                    store.commit({ type: 'user_del', payload: { idx: idx } });  // 트리거
                }
            }
        });

        const app = new Vue({
            el: "#app",
            store,
        });
    </script>
</body>

</html>